<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wadektech.mtihanirevise">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".persistence.MtihaniRevise"
        android:icon="@mipmap/logoicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logoicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".adapter.MainSliderActivity"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.SignUpActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".ui.PastPapersActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".ui.PaperPerSubject"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".pdfViewer.ItemDetailActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".ui.DeveloperProfile"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".ui.ChatActivity" />
        <activity android:name=".auth.LoginActivity" />
        <activity android:name=".ui.MessageActivity" />
        <activity android:name=".ui.AdminPanelActivity" />

        <service
            android:name=".notification.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".notification.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".ui.StatusUpdate" />
    </application>

</manifest>